<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SinfPaths</key>
	<array>
		<string>SC_Info/Runner.sinf</string>
	</array>
	<key>SinfReplicationPaths</key>
	<array>
		<string>Frameworks/AMNet.framework/SC_Info/AMNet.sinf</string>
		<string>Frameworks/App.framework/SC_Info/App.sinf</string>
		<string>Frameworks/ArtcMediaEngine.framework/SC_Info/ArtcMediaEngine.sinf</string>
		<string>Frameworks/Flutter.framework/SC_Info/Flutter.sinf</string>
		<string>Frameworks/SimplePanoVr.framework/SC_Info/SimplePanoVr.sinf</string>
		<string>Frameworks/TBMediaPlayer.framework/SC_Info/TBMediaPlayer.sinf</string>
		<string>Frameworks/VrBase.framework/SC_Info/VrBase.sinf</string>
		<string>Frameworks/WebRTC.framework/SC_Info/WebRTC.sinf</string>
		<string>Frameworks/opencv2.framework/SC_Info/opencv2.sinf</string>
		<string>PlugIns/RunnerExt-NotificationService.appex/SC_Info/RunnerExt-NotificationService.sinf</string>
		<string>SC_Info/Runner.sinf</string>
	</array>
</dict>
</plist>
