<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>detailText</key>
			<string>个人资料设置</string>
			<key>selector</key>
			<string>personalInfoSettingAction</string>
			<key>accessoryViewType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>detailText</key>
			<string>收货地址</string>
			<key>selector</key>
			<string>goToShipment</string>
			<key>accessoryViewType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>detailText</key>
			<string>鱼塘设置</string>
			<key>selector</key>
			<string>goToFishpondSetting</string>
			<key>accessoryViewType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>detailText</key>
			<string>账号</string>
			<key>selector</key>
			<string>personalAccount</string>
			<key>accessoryViewType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>detailText</key>
			<string>黑名单</string>
			<key>selector</key>
			<string>personalBlackListAction</string>
			<key>accessoryViewType</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>detailText</key>
			<string>图片质量设置</string>
			<key>selector</key>
			<string>goToImageSetting</string>
			<key>accessoryViewType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>detailText</key>
			<string>自动播放视频设置</string>
			<key>selector</key>
			<string>goVideoPlayEnvModeSetting</string>
			<key>accessoryViewType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>detailText</key>
			<string>语音电话设置</string>
			<key>selector</key>
			<string>goToRTCSetting</string>
			<key>accessoryViewType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>detailText</key>
			<string>隐私</string>
			<key>selector</key>
			<string>goToPrivacySetting</string>
			<key>accessoryViewType</key>
			<string>0</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>detailText</key>
			<string>关于闲鱼</string>
			<key>selector</key>
			<string>about</string>
			<key>accessoryViewType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>detailText</key>
			<string>把闲鱼推荐给朋友</string>
			<key>selector</key>
			<string>shareApp</string>
			<key>accessoryViewType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>detailText</key>
			<string>闲鱼社区公约</string>
			<key>selector</key>
			<string>pushTradeConventionController</string>
			<key>accessoryViewType</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>detailText</key>
			<string>清除缓存</string>
			<key>selector</key>
			<string>clearCacheAction</string>
			<key>accessoryViewType</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
